* text=auto eol=lf
*.py   text eol=lf diff=python
*.md   text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.cff  text eol=lf
LICENSE text eol=lf
NOTICE  text eol=lf
